.card{
  height: 30.75em;
  width: 15.625em;
  background: linear-gradient(180deg, #19587b 0%, #2b87ae 100%);
  box-shadow: 0.75em 0.75em 1em rgb(0, 0, 0, 0.3);
  transition-duration: 0.4s;
}

.card img{
  height: 18.75em;
  width: 15.625em;
  object-fit: cover;
}

.box{
  padding: 1em;
}

.box h3 {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.info{
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding: 1.2em 0;
}

.disc{
  background-color: #4C6B22;
  width: 3.6em;
  height: 2em;
  display: flex;
  align-items: center;
  color: #beeb14;
  font-size: 1.5em;
  font-weight:bold;
  justify-content: center;
}

.price{
  display: flex;
  flex-direction: column;
  background: #344654;
  width: 10em;
  align-items: flex-end;
  justify-content: center;
}

.price p{
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  padding-right: 5px;
  text-decoration: line-through;
}

.price h4{
  color: #beeb14;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 0.3em;
  margin: 0;
}

.card button{
  background: #549300;
  width: 17em;
  height: 2.3em;
  border: none;
  border-radius: 10px;

  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.2s;
}

.card button:hover{
  background-color: #5da500;
}