 .card {
  display: flex;
  flex-direction: row;
  width: 860px;
  height: 145px;
  background: #2983aa;
  box-shadow: 10px 10px 14px rgb(0, 0, 0, 0.3);
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.card img {
  width: 305px;
  height: 145px;
}

.box {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 555px;
}

.box h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 10px 5px 20px;
}

.box p {
  color: #c7c7c7;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0px 10px 10px 20px;
}

.buy {
  display: flex;
  flex-direction: row;
  width: 555px;
  justify-content: space-between;
}

.buy h4 {
  color: #beeb14;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 10px 10px 20px;
}

.buy button {
  background: #549300;
  width: 222px;
  height: 38px;
  border-radius: 10px;
  border: none;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 10px 10px;
  color: #fff;
  font-size: 16px;
  transition-duration: 0.2s;
}

.buy button:hover {
  background-color: #5da500;
  font-size: 17px;
  box-shadow: 10px 10px 14px rgb(52, 70, 84, 0.3);
}
