 .card {
  display: flex;
  flex-direction: row;
  width: 54em;
  height: 9.1em;
  background: #2983aa;
  box-shadow: 0.625em 0.625em 1em rgb(0, 0, 0, 0.3);
  margin: 1em auto;
}

.card img {
  width: 19.1em;
  height: 9.1em;
}

.box {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 10em;
}

.box h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1.25em 0.625em 0.3125em 1.25em;
}

.box p {
  color: #c7c7c7;
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0em 0.625em 0.625em 1.25em;
}

.buy {
  display: flex;
  flex-direction: row;
  width: 10em;
  justify-content: space-between;
}

.buy h4 {
  color: #beeb14;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.625em 0.625em 0.625em 1.25em;
}

.buy button {
  background: #549300;
  width: 222px;
  height: 2em;
  border-radius: 10px;
  border: none;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 10px 10px;
  color: #fff;
  font-size: 16px;
  transition-duration: 0.2s;
}

.buy button:hover {
  background-color: #5da500;
  font-size: 17px;
  box-shadow: 10px 10px 14px rgb(52, 70, 84, 0.3);
}
