@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tilt+Prism&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background: #1b2838;
  justify-content: center;
  width: 100%;
}

.nav {
  top: 0;
  width: 100%;
}

.promoContainer {
  display: flex;
  flex-direction: column;
  max-width: 60em;
  height: fit-content;
  margin: 3em auto;
  justify-content: center;
}

.promoContainer h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 1em 0px;
}

.promos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3em;
}

.gamesContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 62.5em;
  margin: 6.25em auto;
}

.gamesContainer h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 850px) {
  .promos{
    justify-content: center;
  }
}

